@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: beige;
    --secondary-color: #6e2929;
    --tertiary-color: #ff5e5e;
    --quaternary-color: #af0000;
}

* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
}

.title-heading {
    margin: auto 0 auto 2vw;
    font-size: 2.5vw;
    color: var(--secondary-color);
}

.main-content {
    width: 100vw;
    height: 90vh;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
}

.reminders {
    width: 80vw;
    min-height: 90vh;
    overflow-y: scroll;
}

.reminders::-webkit-scrollbar {
    width: 1vw;
}

.reminders::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}

.reminders::-webkit-scrollbar-thumb {
    background: var(--quaternary-color);
}

.card {
    width: 80%;
    min-height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2vh auto 2vh auto;
    border: 6px double var(--tertiary-color);
    border-radius: 24px;
}

.remind-heading {
    font-size: 2vw;
    text-shadow: var(--quaternary-color) 1px 1px;
    color: var(--tertiary-color);
}

.count {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.digit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-digit {
    color: var(--quaternary-color);
    font-family: sans-serif;
    font-size: 3vw;
}

.nav {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

.nav > h1 {
    margin: 0 auto 0 auto;
    font-size: 2vw;
    color: var(--primary-color);
}

.nav ul {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0.5vw;
    border-left: 3px solid #0001;
}

.nav ul ol {
    font-size: 1.2vw;
}

.nav a {
    color: var(--primary-color);
    text-decoration: none;
}

.nav > select {
    width: 60%;
    height: 6%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 2%;
    border: 0;
    border-radius: 32px;
    outline: 0;
}